<div class="b-footer">
  <div class="footer-container">
    <div class="footer-subscribe">
      <div class="subscribe-title">Subscribe Newsletters</div>
      <div class="subscribe-decs">
        Enter your email address to register to our newsletter
      </div>
      <div class="input-emails">
        <input type="email" placeholder="Your email" required />
        <div class="btn">Sign up</div>
      </div>
    </div>
    <div class="footer-info">
      <div class="info-item info-email">
        <ul>
          <li><img src="./assets/img/logo.svg" alt="" /></li>
          <li>
            <p>
              Join our newsletter to stay up to date on features and releases.
            </p>
          </li>
          <li>
            <input type="text" placeholder="Your email" />
            <div class="btn">Subscribe</div>
          </li>
        </ul>
      </div>
      <div class="info-item info-pages">
        <ul>
          <li>
            <p class="active">Pages</p>
          </li>
          <li>
            <p>Home</p>
          </li>
          <li>
            <p>About</p>
          </li>
          <li>
            <p>Contact</p>
          </li>
          <li>
            <p>Blog</p>
          </li>
          <li>
            <p>Courses</p>
          </li>
        </ul>
      </div>
      <div class="info-item info-cms-pages">
        <ul>
          <li><p class="active">CMS Pages</p></li>
          <li><p>Blog Post</p></li>
          <li><p>Blog Categories</p></li>
          <li><p>Courses Single</p></li>
          <li><p>Courses categories</p></li>
          <li><p>Product Page</p></li>
          <li><p>Product Categories</p></li>
        </ul>
      </div>
      <div class="info-item info-account-pages">
        <ul>
          <li><p class="active">Account Pages</p></li>
          <li><p>Login</p></li>
          <li><p>Register</p></li>
          <li><p>Forgot Password</p></li>
          <li><p>Reset Password</p></li>
          <li><p>Email Confirmation</p></li>
        </ul>
      </div>
      <div class="info-item info-legal">
        <ul>
          <li><p class="active">Utility Pages</p></li>
          <li><p>Licenses</p></li>
          <li><p>404</p></li>
          <li><p>Password</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
