<!-- Header PC  -->
<div class="container">
  <div class="top-bar">
    <!-- Logo -->
    <a href="./" class="top-bar__logo">
      <img src="./assets/img/logo.svg" alt="" />
    </a>

    <!-- Navbar -->
    <nav class="navbar">
      <ul>
        <li>
          <a class="navbar__link navbar_active home-desktop" href="./index.html"
            >Home</a
          >
        </li>
        <li>
          <a class="navbar__link about-desktop" href="./about.html">About</a>
        </li>
        <li>
          <a class="navbar__link coures-desktop" href="./courses.html"
            >Coures</a
          >
        </li>
        <li>
          <a class="navbar__link blog-desktop" href="./blog.html">Blog</a>
        </li>
        <li>
          <a class="navbar__link contact-desktop" href="./contactUs.html"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
    <script></script>
    <!-- Action -->
    <div class="top-action">
      <a href="./signIn.html" class="btn--signIn">Sign in</a>
      <a href="./signUp.html" class="btn btn--signUp">Sign Up</a>
    </div>
    <label for="checkOverlay" class="top-bar__menu">
      <i class="fa-solid fa-bars"></i>
      <!-- Header Tablet/PC -->
    </label>
  </div>
  <!-- Header Mobile -->
  <input
    type="checkbox"
    name="checkOverlay"
    id="checkOverlay"
    class="checkOverlay"
    hidden
  />
  <label for="checkOverlay" class="overlay"></label>

  <div class="top-menu">
    <!-- Navbar Tablet Moble -->

    <div class="navbar">
      <ul>
        <li class="arrow">
          <label for="checkOverlay"
            ><i class="fa-solid fa-arrow-right"></i
          ></label>
        </li>
        <li class="navbar_active">
          <a class="navbar__link" href="./index.html">Home</a>
        </li>
        <li>
          <a class="navbar__link" href="./about.html">About</a>
        </li>
        <li>
          <a class="navbar__link" href="./courses.html">Coures</a>
        </li>
        <li>
          <a class="navbar__link" href="./blog.html">Blog</a>
        </li>
        <li>
          <a class="navbar__link" href="./contactUs.html">Contact</a>
        </li>
      </ul>
    </div>
    <div class="top-action">
      <div class="top-action-container">
        <p>Ready to get stared?</p>
        <div class="top-action-container-btn">
          <div class="btn-2">
            <a href="./signIn.html" class="btn--signIn">Sign in</a>
          </div>
          <div class="btn-2">
            <a href="./signUp.html" class="btn--signUp">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
